html {
  scroll-behavior: smooth;
  font-size: 16px;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.container {
  max-width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 576px) {
  .navbar-brand img {
    max-width: 15rem !important;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
small {
  white-space: pre-line;
}

@media screen and (max-width: 768px) {

  input,
  select,
  textarea {
    font-size: 16px !important;
  }
}

h1.sw-font-family-default,
h2.sw-font-family-default {
  font-family: "Comfortaa";
}

h1.sw-font-weight-default,
h2.sw-font-weight-default {
  font-weight: 500;
}

h1.sw-text-color-default,
h2.sw-text-color-default {
  color: #000000;
}

section.sw-font-family-default,
header.sw-font-family-default,
nav.sw-font-family-default,
footer.sw-font-family-default,
div.sw-font-family-default,
span.sw-font-family-default,
small.sw-font-family-default,
pre.sw-font-family-default,
p.sw-font-family-default,
b.sw-font-family-default,
li.sw-font-family-default,
ul.sw-font-family-default,
a.sw-font-family-default,
h3.sw-font-family-default,
h4.sw-font-family-default,
h5.sw-font-family-default,
h6.sw-font-family-default {
  font-family: "Montserrat";
}

span.sw-font-weight-default,
li.sw-font-weight-default span,
small.sw-font-weight-default,
li.sw-font-weight-default small,
pre.sw-font-weight-default,
p.sw-font-weight-default,
h3.sw-font-weight-default,
h4.sw-font-weight-default,
h5.sw-font-weight-default,
h6.sw-font-weight-default {
  font-weight: 400;
}

span.sw-text-color-default,
li.sw-text-color-default span,
small.sw-text-color-default,
li.sw-text-color-default small,
pre.sw-text-color-default,
p.sw-text-color-default,
div.sw-text-color-default,
h3.sw-text-color-default,
h4.sw-text-color-default,
h5.sw-text-color-default,
h6.sw-text-color-default {
  color: #000000;
}

input.sw-font-family-default,
textarea.sw-font-family-default {
  font-family: "Montserrat";
}

input.sw-font-weight-default,
textarea.sw-font-weight-default {
  font-weight: 400;
}

.sw-font-family-default::-webkit-input-placeholder,
.sw-font-family-default::-moz-placeholder,
.sw-font-family-default:-ms-input-placeholder,
.sw-font-family-default:-moz-placeholder {
  font-family: "Montserrat";
}

.sw-font-family-default::-webkit-input-placeholder,
.sw-font-family-default::-moz-placeholder,
.sw-font-family-default:-ms-input-placeholder,
.sw-font-family-default:-moz-placeholder {
  font-weight: 400;
}

.sw-text-color-default[data-element='button'] {
  color: #222222;
}

.sw-background-color-default[data-element='button'] {
  background-color: #82ceaf;
}

.sw-border-radius-default[data-element='button'] {
  border-radius: .25rem;
}

.sw-font-size-m {
  font-size: 1rem !important;
}

.sw-text-color-default {}

.sw-font-family-default {}

.sw-font-weight-semibold {
  font-weight: 600 !important;
}

.sw-border-radius-full {
  border-radius: 9999rem !important;
}

.sw-background-color-default {}

.sw-padding-left-s {
  padding-left: 2.5rem !important;
}

.sw-padding-right-s {
  padding-right: 2.5rem !important;
}

.sw-padding-top-5xs {
  padding-top: 0.75rem !important;
}

.sw-padding-bottom-5xs {
  padding-bottom: 0.75rem !important;
}

.sw-border-style-none {
  border-style: none !important;
}

.sw-border-width-xs {
  border-width: 1px !important;
}

.sw-border-color-000000 {
  border-color: #000000 !important;
}

.sw-letter-spacing-normal {
  letter-spacing: 0rem !important;
}

.sw-text-decoration-no-underline {
  text-decoration: none !important;
}

@media (hover: hover) {
  .hover\:sw-text-decoration-no-underline:hover {
    text-decoration: none !important;
  }
}

@media (hover: hover) {
  .hover\:sw-box-shadow-m:hover {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
  }
}

.sw-margin-bottom-6xs {
  margin-bottom: 0.5rem !important;
}

.sw-margin-right-5xs {
  margin-right: 0.75rem !important;
}

.sw-display-inline-block {
  display: inline-block !important;
}

.sw-background-color-000000 {
  background-color: #000000 !important;
}

.sw-padding-top-2xl {
  padding-top: 6rem !important;
}

.sw-padding-bottom-2xl {
  padding-bottom: 6rem !important;
}

.sw-border-top-style-none {
  border-top-style: none !important;
}

.sw-border-top-width-xs {
  border-top-width: 1px !important;
}

.sw-border-top-color-000000 {
  border-top-color: #000000 !important;
}

.sw-border-bottom-style-none {
  border-bottom-style: none !important;
}

.sw-border-bottom-width-xs {
  border-bottom-width: 1px !important;
}

.sw-border-bottom-color-000000 {
  border-bottom-color: #000000 !important;
}

.sw-font-size-4xl {
  font-size: 2.25rem !important;
}

.sw-text-color-82ceaf {
  color: #82ceaf !important;
}

.sw-font-family-comfortaa {
  font-family: "Comfortaa" !important;
}

.sw-font-weight-medium {
  font-weight: 500 !important;
}

.sw-padding-top-none {
  padding-top: 0rem !important;
}

.sw-padding-bottom-4xs {
  padding-bottom: 1rem !important;
}

.sw-letter-spacing-wide {
  letter-spacing: 0.025rem !important;
}

.sw-line-height-loose {
  line-height: 2 !important;
}

.sw-font-size-l {
  font-size: 1.125rem !important;
}

.sw-text-color-eeeeee {
  color: #eeeeee !important;
}

.sw-font-family-montserrat {
  font-family: "Montserrat" !important;
}

.sw-font-weight-default {}

.sw-padding-bottom-3xs {
  padding-bottom: 1.25rem !important;
}

.sw-padding-left-xs {
  padding-left: 2rem !important;
}

.sw-padding-right-xs {
  padding-right: 2rem !important;
}

.sw-border-style-solid {
  border-style: solid !important;
}

.sw-border-width-s {
  border-width: 2px !important;
}

.sw-border-color-82ceaf {
  border-color: #82ceaf !important;
}

.sw-percentage-width-m {
  width: 60% !important;
}

.sw-border-radius-m {
  border-radius: 0.25rem !important;
}

.sw-background-repeat-no-repeat {
  background-repeat: no-repeat !important;
}

.sw-background-size-cover {
  background-size: cover !important;
}

.sw-background-position-center {
  background-position: center !important;
}

.sw-background-attachment-scroll {
  background-attachment: scroll !important;
}

.sw-text-color-000000 {
  color: #000000 !important;
}

.sw-font-size-m {
  font-size: 1rem !important;
}

.sw-width-11xs {
  width: 2rem !important;
}

.sw-display-inline-block {
  display: inline-block !important;
}

.sw-font-family-default {}

.sw-font-weight-semibold {
  font-weight: 600 !important;
}

.sw-letter-spacing-normal {
  letter-spacing: 0rem !important;
}

.sw-background-color-000000 {
  background-color: #000000 !important;
}

.sw-padding-top-2xl {
  padding-top: 6rem !important;
}

.sw-padding-bottom-2xl {
  padding-bottom: 6rem !important;
}

.sw-border-top-style-none {
  border-top-style: none !important;
}

.sw-border-top-width-xs {
  border-top-width: 1px !important;
}

.sw-border-top-color-000000 {
  border-top-color: #000000 !important;
}

.sw-border-bottom-style-none {
  border-bottom-style: none !important;
}

.sw-border-bottom-width-xs {
  border-bottom-width: 1px !important;
}

.sw-border-bottom-color-000000 {
  border-bottom-color: #000000 !important;
}

.sw-text-color-default {}

.sw-font-weight-default {}

.sw-padding-top-none {
  padding-top: 0rem !important;
}

.sw-padding-bottom-3xs {
  padding-bottom: 1.25rem !important;
}

.sw-display-block {
  display: block !important;
}

.sw-margin-top-3xs {
  margin-top: 1.25rem !important;
}

.sw-margin-bottom-3xs {
  margin-bottom: 1.25rem !important;
}

.sw-border-top-style-solid {
  border-top-style: solid !important;
}

.sw-border-top-color-cccccc {
  border-top-color: #cccccc !important;
}

.sw-width-4xs {
  width: 10rem !important;
}

.sw-text-color-82ceaf {
  color: #82ceaf !important;
}

.sw-font-family-comfortaa {
  font-family: "Comfortaa" !important;
}

.sw-font-weight-extrabold {
  font-weight: 800 !important;
}

.sw-letter-spacing-wide {
  letter-spacing: 0.025rem !important;
}